In [4]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData
from sqlalchemy.sql import select

In [5]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')

conn = engine.connect()

metadata= MetaData()

In [6]:
users = Table('users', metadata, autoload_with=engine)

select_query = users.select()

conn.execute(select_query).fetchall()

[(10, 'Claudia', 'Sand', 'Claudia.Sand@hotmail.com', 'Hanover'),
 (11, 'Raj', 'Chawanda', 'raj_chawanda@hotmail.com', 'Srpingfield'),
 (15, 'Neil', 'Parks', 'neil_parks@hotmail.com', 'Pleasanton'),
 (19, 'Gina', 'Ortiz', 'Gina_Ortiz54@hotmail.com', 'Hempstead'),
 (20, 'Julio', 'Chavez', 'chavez6595@hotmail.com', 'Savannah'),
 (21, 'Noemie', 'Miller', 'noemei_miller@hotmail.com', 'Greenwich'),
 (24, 'Martha', 'Horowitz', 'horowitzmartha@hotmail.com', 'Moab'),
 (31, 'Marcia', 'Lin', 'Marcia_Lin098@hotmail.com', 'Srpingfield'),
 (33, 'Chen', 'Lin', 'Chen_Lin@hotmail.com', 'Moab'),
 (34, 'Charles', 'Lin', 'chlin@hotmail.com', 'Moab')]

In [7]:
conn.execute(text("describe users;")).fetchall()

[('user_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('first_name', 'varchar(255)', 'NO', '', None, ''),
 ('last_name', 'varchar(255)', 'YES', '', None, ''),
 ('email_id', 'varchar(255)', 'YES', 'UNI', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, '')]

In [23]:
conn.execute(text("alter table users modify column email_id varchar(255) unique;"))

In [52]:
ins = users.insert().values((34, 'Chen', 'Lin', 'chen@gamil.com', 'Charlottetown',85954750))
conn.execute(ins)

In [53]:
select_query = users.select()

conn.execute(select_query).fetchall()

[(10, 'Claudia', 'San', 'claudi@gamil.com', 'Charlottown', '89969080'),
 (15, 'Nail', 'Parks', 'nail@gamil.com', 'Halifax', '658364096'),
 (20, 'Julioi', 'Chavez', 'julio@gamil.com', 'Toronto', '798075967'),
 (33, 'Chen', 'Lin', 'chen.lin@gamil.com', 'Charlottetown', '85954750'),
 (34, 'Chen', 'Lin', 'chen@gamil.com', 'Charlottetown', '85954750')]

In [30]:
conn.execute(users.delete().where(users.c.user_id == 33))

In [35]:
conn.execute(text("alter table users modify column phone varchar(255) unique;"))

In [46]:
conn.execute(text("show create table users;")).fetchall()

[('users', 'CREATE TABLE `users` (\n  `user_id` int NOT NULL AUTO_INCREMENT,\n  `first_name` varchar(255) NOT NULL,\n  `last_name` varchar(255) DEFAULT NULL,\n   ... (312 characters truncated) ...  KEY `email_id_5` (`email_id`),\n  UNIQUE KEY `phone` (`phone`)\n) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci')]

In [47]:
conn.execute(text("drop index phone on users;"))

In [50]:
conn.execute(text("describe users;")).fetchall()

[('user_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('first_name', 'varchar(255)', 'NO', '', None, ''),
 ('last_name', 'varchar(255)', 'YES', '', None, ''),
 ('email_id', 'varchar(255)', 'YES', 'UNI', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('phone', 'varchar(255)', 'YES', '', None, '')]

In [55]:
stmt = users.update().where(users.c.user_id == 34).values(phone="12345678")
conn.execute(stmt)

In [56]:
conn.execute(users.select()).fetchall()

[(10, 'Claudia', 'San', 'claudi@gamil.com', 'Charlottown', '89969080'),
 (15, 'Nail', 'Parks', 'nail@gamil.com', 'Halifax', '658364096'),
 (20, 'Julioi', 'Chavez', 'julio@gamil.com', 'Toronto', '798075967'),
 (33, 'Chen', 'Lin', 'chen.lin@gamil.com', 'Charlottetown', '85954750'),
 (34, 'Chen', 'Lin', 'chen@gamil.com', 'Charlottetown', '12345678')]

In [57]:
conn.execute(text("alter table users drop column phone;"))

In [61]:
conn.execute(text("describe users;")).fetchall()

[('user_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('first_name', 'varchar(255)', 'NO', '', None, ''),
 ('last_name', 'varchar(255)', 'YES', '', None, ''),
 ('email_id', 'varchar(255)', 'YES', 'UNI', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, '')]

In [62]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')
conn = engine.connect()
metadata = MetaData()

In [63]:
products = Table('products', metadata, 
                    Column('name', String(255)),
                    Column('price', Integer),
                    Column('discount', Integer)
                )
metadata.create_all(engine)

In [64]:
conn.execute(products.insert(),[
    {'name': 'speakers', 'price': 70, 'discount': 0},
    {'name': 'headphones', 'price': 100, 'discount': 0},
    {'name': 'mouse', 'price': 20, 'discount': 0},
    {'name': 'keyboard', 'price': 15, 'discount': 0}
])

In [65]:
conn.execute(products.select()).fetchall()

[('speakers', 70, 0),
 ('headphones', 100, 0),
 ('mouse', 20, 0),
 ('keyboard', 15, 0)]

In [66]:
conn.execute(products.update().values(discount = 0.2 * products.c.price))

In [67]:
conn.execute(products.select()).fetchall()

[('speakers', 70, 14),
 ('headphones', 100, 20),
 ('mouse', 20, 4),
 ('keyboard', 15, 3)]