In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql import and_, or_, not_, text
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
base = automap_base()

In [3]:
engine = create_engine('mysql+pymysql://root:Thuc1980@127.0.0.1:3306/online_shopping')

In [5]:
base.prepare(engine, reflect=True)

C:\Users\thuc.nguyen1\AppData\Local\Temp\ipykernel_19552\1845505200.py:1: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  base.prepare(engine, reflect=True)

In [6]:
list(base.classes)

[sqlalchemy.ext.automap.orders,
 sqlalchemy.ext.automap.users,
 sqlalchemy.ext.automap.gold_users,
 sqlalchemy.ext.automap.products,
 sqlalchemy.ext.automap.diamond_users,
 sqlalchemy.ext.automap.expensive_products]

In [7]:
session = Session(bind=engine)

In [8]:
session.query(base.classes.users).all()

[<sqlalchemy.ext.automap.users at 0x175ae1631d0>,
 <sqlalchemy.ext.automap.users at 0x175ae414830>,
 <sqlalchemy.ext.automap.users at 0x175ae4147d0>,
 <sqlalchemy.ext.automap.users at 0x175ae414800>,
 <sqlalchemy.ext.automap.users at 0x175ae4147a0>,
 <sqlalchemy.ext.automap.users at 0x175ae414860>,
 <sqlalchemy.ext.automap.users at 0x175ae414890>,
 <sqlalchemy.ext.automap.users at 0x175ae4148c0>,
 <sqlalchemy.ext.automap.users at 0x175ae4148f0>,
 <sqlalchemy.ext.automap.users at 0x175ae414920>,
 <sqlalchemy.ext.automap.users at 0x175ae414950>,
 <sqlalchemy.ext.automap.users at 0x175ae414980>,
 <sqlalchemy.ext.automap.users at 0x175ae4149b0>,
 <sqlalchemy.ext.automap.users at 0x175ae4149e0>,
 <sqlalchemy.ext.automap.users at 0x175ae414a10>]

In [14]:
def __users_repr__(self):
    return "\nuser_id: %s, first_name: %s, last_name: %s, \n" \
            "email_id: %s, \ncity: %s" % \
            (self.user_id, self.first_name, self.last_name, self.email_id, self.city)

In [15]:
base.classes.users.__repr__=__users_repr__

In [16]:
session.query(base.classes.users).all()

[
 user_id: 10, first_name: Claudia, last_name: Sand,
 email_id: Claudia.Sand@hotmail.com,
 city: Hanover,

 user_id: 11, first_name: Raj, last_name: Chawanda,
 email_id: raj_chawanda@hotmail.com,
 city: Srpingfield,

 user_id: 15, first_name: Neil, last_name: Parks,
 email_id: neil_parks@hotmail.com,
 city: Pleasanton,

 user_id: 19, first_name: Gina, last_name: Ortiz,
 email_id: Gina_Ortiz54@hotmail.com,
 city: Hempstead,

 user_id: 20, first_name: Julio, last_name: Chavez,
 email_id: chavez6595@hotmail.com,
 city: Savannah,

 user_id: 21, first_name: Noemie, last_name: Miller,
 email_id: noemei_miller@hotmail.com,
 city: Greenwich,

 user_id: 24, first_name: Martha, last_name: Horowitz,
 email_id: horowitzmartha@hotmail.com,
 city: Moab,

 user_id: 31, first_name: Marcia, last_name: Lin,
 email_id: Marcia_Lin098@hotmail.com,
 city: Srpingfield,

 user_id: 33, first_name: Chen, last_name: Lin,
 email_id: Chen_Lin@hotmail.com,
 city: Moab,

 user_id: 34, first_name: Charles, last_name: Lin,
 email_id: chlin@hotmail.com,
 city: Moab,

 user_id: 40, first_name: Alen, last_name: Alford,
 email_id: ALen_Alford63@hotmail.com,
 city: Madison,

 user_id: 100, first_name: Rick, last_name: Tallon,
 email_id: Rick_Tallon65@hotmail.com,
 city: Trenton,

 user_id: 102, first_name: Max, last_name: Bishop,
 email_id: Max_Bishop@hotmail.com,
 city: Bar Harbor,

 user_id: 666, first_name: Niki, last_name: Flores,
 email_id: Nicke_Flores65@hotmail.com,
 city: Savannah,

 user_id: 777, first_name: Rob, last_name: Lawrence,
 email_id: Rob_Laurence@hotmail.com,
 city: Charleeton]

In [18]:
anita_user = base.classes.users(user_id=50,
                                first_name='Anita',
                                last_name='Jones',
                                email_id='anitajSOS@gmail.com',
                                city='Idaho'
                               )

In [19]:
session.add(anita_user)
session.commit()

In [20]:
session.query(base.classes.users).all()

[
 user_id: 10, first_name: Claudia, last_name: Sand,
 email_id: Claudia.Sand@hotmail.com,
 city: Hanover,

 user_id: 11, first_name: Raj, last_name: Chawanda,
 email_id: raj_chawanda@hotmail.com,
 city: Srpingfield,

 user_id: 15, first_name: Neil, last_name: Parks,
 email_id: neil_parks@hotmail.com,
 city: Pleasanton,

 user_id: 19, first_name: Gina, last_name: Ortiz,
 email_id: Gina_Ortiz54@hotmail.com,
 city: Hempstead,

 user_id: 20, first_name: Julio, last_name: Chavez,
 email_id: chavez6595@hotmail.com,
 city: Savannah,

 user_id: 21, first_name: Noemie, last_name: Miller,
 email_id: noemei_miller@hotmail.com,
 city: Greenwich,

 user_id: 24, first_name: Martha, last_name: Horowitz,
 email_id: horowitzmartha@hotmail.com,
 city: Moab,

 user_id: 31, first_name: Marcia, last_name: Lin,
 email_id: Marcia_Lin098@hotmail.com,
 city: Srpingfield,

 user_id: 33, first_name: Chen, last_name: Lin,
 email_id: Chen_Lin@hotmail.com,
 city: Moab,

 user_id: 34, first_name: Charles, last_name: Lin,
 email_id: chlin@hotmail.com,
 city: Moab,

 user_id: 40, first_name: Alen, last_name: Alford,
 email_id: ALen_Alford63@hotmail.com,
 city: Madison,

 user_id: 50, first_name: Anita, last_name: Jones,
 email_id: anitajSOS@gmail.com,
 city: Idaho,

 user_id: 100, first_name: Rick, last_name: Tallon,
 email_id: Rick_Tallon65@hotmail.com,
 city: Trenton,

 user_id: 102, first_name: Max, last_name: Bishop,
 email_id: Max_Bishop@hotmail.com,
 city: Bar Harbor,

 user_id: 666, first_name: Niki, last_name: Flores,
 email_id: Nicke_Flores65@hotmail.com,
 city: Savannah,

 user_id: 777, first_name: Rob, last_name: Lawrence,
 email_id: Rob_Laurence@hotmail.com,
 city: Charleeton]

In [21]:
luther_user = base.classes.users(user_id=51,
                                first_name='Luther',
                                last_name='Morris',
                                email_id='LuthMor@gmail.com',
                                city='Seattle'
                               )
session.add(luther_user)

In [22]:
session.rollback()

In [23]:
User = base.classes.users

In [25]:
session.add_all([
    User(user_id=60, first_name='Rico', last_name='Lloyd', email_id='RicoLlo@gmail.com', city='Detroit'),
    User(user_id=70, first_name='Lou', last_name='Lang', email_id='Loulang54@gmail.com', city='Madison'),
    User(user_id=80, first_name='Amanda', last_name='Dilks', email_id='Dilks545@gmail.com', city='Boston')
])

In [26]:
session.commit()
session.query(User).all()

[
 user_id: 10, first_name: Claudia, last_name: Sand,
 email_id: Claudia.Sand@hotmail.com,
 city: Hanover,

 user_id: 11, first_name: Raj, last_name: Chawanda,
 email_id: raj_chawanda@hotmail.com,
 city: Srpingfield,

 user_id: 15, first_name: Neil, last_name: Parks,
 email_id: neil_parks@hotmail.com,
 city: Pleasanton,

 user_id: 19, first_name: Gina, last_name: Ortiz,
 email_id: Gina_Ortiz54@hotmail.com,
 city: Hempstead,

 user_id: 20, first_name: Julio, last_name: Chavez,
 email_id: chavez6595@hotmail.com,
 city: Savannah,

 user_id: 21, first_name: Noemie, last_name: Miller,
 email_id: noemei_miller@hotmail.com,
 city: Greenwich,

 user_id: 24, first_name: Martha, last_name: Horowitz,
 email_id: horowitzmartha@hotmail.com,
 city: Moab,

 user_id: 31, first_name: Marcia, last_name: Lin,
 email_id: Marcia_Lin098@hotmail.com,
 city: Srpingfield,

 user_id: 33, first_name: Chen, last_name: Lin,
 email_id: Chen_Lin@hotmail.com,
 city: Moab,

 user_id: 34, first_name: Charles, last_name: Lin,
 email_id: chlin@hotmail.com,
 city: Moab,

 user_id: 40, first_name: Alen, last_name: Alford,
 email_id: ALen_Alford63@hotmail.com,
 city: Madison,

 user_id: 50, first_name: Anita, last_name: Jones,
 email_id: anitajSOS@gmail.com,
 city: Idaho,

 user_id: 60, first_name: Rico, last_name: Lloyd,
 email_id: RicoLlo@gmail.com,
 city: Detroit,

 user_id: 70, first_name: Lou, last_name: Lang,
 email_id: Loulang54@gmail.com,
 city: Madison,

 user_id: 80, first_name: Amanda, last_name: Dilks,
 email_id: Dilks545@gmail.com,
 city: Boston,

 user_id: 100, first_name: Rick, last_name: Tallon,
 email_id: Rick_Tallon65@hotmail.com,
 city: Trenton,

 user_id: 102, first_name: Max, last_name: Bishop,
 email_id: Max_Bishop@hotmail.com,
 city: Bar Harbor,

 user_id: 666, first_name: Niki, last_name: Flores,
 email_id: Nicke_Flores65@hotmail.com,
 city: Savannah,

 user_id: 777, first_name: Rob, last_name: Lawrence,
 email_id: Rob_Laurence@hotmail.com,
 city: Charleeton]

In [27]:
session.query(User).filter(User.last_name=='Lin').all()

[
 user_id: 31, first_name: Marcia, last_name: Lin,
 email_id: Marcia_Lin098@hotmail.com,
 city: Srpingfield,

 user_id: 33, first_name: Chen, last_name: Lin,
 email_id: Chen_Lin@hotmail.com,
 city: Moab,

 user_id: 34, first_name: Charles, last_name: Lin,
 email_id: chlin@hotmail.com,
 city: Moab]

In [28]:
session.query(User).filter(User.last_name.in_(['Lin', 'Harken', 'Jones'])).all()

[
 user_id: 31, first_name: Marcia, last_name: Lin,
 email_id: Marcia_Lin098@hotmail.com,
 city: Srpingfield,

 user_id: 33, first_name: Chen, last_name: Lin,
 email_id: Chen_Lin@hotmail.com,
 city: Moab,

 user_id: 34, first_name: Charles, last_name: Lin,
 email_id: chlin@hotmail.com,
 city: Moab,

 user_id: 50, first_name: Anita, last_name: Jones,
 email_id: anitajSOS@gmail.com,
 city: Idaho]

In [29]:
session.query(User.first_name, User.last_name, User.city)\
    .filter(User.last_name.in_(['Lin', 'Harken', 'Jones'])).all()

[('Marcia', 'Lin', 'Srpingfield'),
 ('Chen', 'Lin', 'Moab'),
 ('Charles', 'Lin', 'Moab'),
 ('Anita', 'Jones', 'Idaho')]

In [30]:
GoldUser = base.classes.gold_users

In [31]:
def __gold_users_repr__(self):
    return "uid: %s, end_date: %s, points: %s" %\
        (self.uid, self.end_date, self.points)
GoldUser.__repr__ = __gold_users_repr__

In [32]:
session.query(GoldUser).all()

[uid: 10, end_date: 2020-11-01, points: 342.0,
 uid: 11, end_date: 2019-10-03, points: 241.2,
 uid: 15, end_date: 2019-12-01, points: 93.0,
 uid: 19, end_date: 2023-01-13, points: 13.8,
 uid: 21, end_date: 2021-04-29, points: 279.1,
 uid: 33, end_date: 2021-10-01, points: 201.3,
 uid: 34, end_date: 2020-05-28, points: 132.9,
 uid: 40, end_date: 2025-12-02, points: 0.0]

In [34]:
session.query(User.first_name, User.last_name)\
    .join(GoldUser)\
    .all()

[('Claudia', 'Sand'),
 ('Raj', 'Chawanda'),
 ('Neil', 'Parks'),
 ('Gina', 'Ortiz'),
 ('Noemie', 'Miller'),
 ('Chen', 'Lin'),
 ('Charles', 'Lin'),
 ('Alen', 'Alford')]

In [36]:
session.query(User.first_name, User.last_name, GoldUser.points)\
    .join(GoldUser)\
    .filter(User.user_id == GoldUser.uid)\
    .all()

[('Claudia', 'Sand', 342.0),
 ('Raj', 'Chawanda', 241.2),
 ('Neil', 'Parks', 93.0),
 ('Gina', 'Ortiz', 13.8),
 ('Noemie', 'Miller', 279.1),
 ('Chen', 'Lin', 201.3),
 ('Charles', 'Lin', 132.9),
 ('Alen', 'Alford', 0.0)]