In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData, Date, Float
from sqlalchemy.sql import select
from sqlalchemy.sql import and_, or_, not_

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [2]:
engine = create_engine("mysql+pymysql://root:Thuc1980@127.0.0.1:3306/employees")
conn = engine.connect()

In [3]:
session = Session(bind=engine)

In [4]:
base = declarative_base()

C:\Users\thuc.nguyen1\AppData\Local\Temp\ipykernel_160\3585108450.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  base = declarative_base()

In [6]:
class EmployeesFromStreft(base):
    __tablename__ = 'employees_from_streft'
    emp_id = Column('emp_id', Integer, primary_key=True, autoincrement=False)
    emp_name = Column('emp_name', String(255))
    salary = Column('salary', Integer)
    role = Column('role', String(255))

    def __repr__(self):
        return "emp_id='%s', emp_name='%s', salary='%s', role='%s'" % (self.emp_id, self.emp_name, self.salary, self.role)

base.metadata.create_all(engine)

In [7]:
class EmployeesFromDytton(base):
    __tablename__ = 'employees_from_dytton'
    emp_id = Column('emp_id', Integer, primary_key=True, autoincrement=False)
    emp_fname = Column('emp_fname', String(255))
    emp_lname = Column('emp_lname', String(255))
    join_date = Column('join_date', Date)
    role = Column('role', String(255))

    def __repr__(self):
        return "emp_id='%s', emp_fname='%s', emp_lname='%s', role='%s'" % (self.emp_id, self.emp_fname, self.emp_lname, self.role)

base.metadata.create_all(engine)

In [ ]:
session.add(EmployeeFromStretf(emp_id=1, emp_name='Lucas', salary))

In [12]:
session.commit()

In [13]:
session.query(EmployeesFromStreft).all()

[emp_id='1', emp_name='Lucas', salary='100000', role='Scientist',
 emp_id='2', emp_name='Chadrick', salary='80000', role='Developer',
 emp_id='3', emp_name='Rico', salary='90000', role='Engineer',
 emp_id='4', emp_name='Fiona', salary='120000', role='Manager']

In [9]:
session.add_all([
    EmployeesFromStreft(emp_id=2, emp_name="Chadrick", salary=80000, role="Developer"),
    EmployeesFromStreft(emp_id=3, emp_name="Rico", salary=90000, role="Engineer"),
    EmployeesFromStreft(emp_id=4, emp_name="Fiona", salary=120000, role="Manager"),
])

In [14]:
session.add_all([
    EmployeesFromDytton(emp_id=5, emp_fname='Eric', emp_lname='Leon', join_date='2017-05-01', role='Engineer'),
    EmployeesFromDytton(emp_id=6, emp_fname='Arthur', emp_lname='Kone', join_date='2014-02-01', role='Scientist'),
    EmployeesFromDytton(emp_id=7, emp_fname='Donna', emp_lname='Winter', join_date='2019-08-15', role='Analyst'),
    EmployeesFromDytton(emp_id=8, emp_fname='Kelly', emp_lname='Connors', join_date='2015-01-15', role='Developer'),
])

In [15]:
session.commit()

In [16]:
session.query(EmployeesFromDytton).all()

[emp_id='5', emp_fname='Eric', emp_lname='Leon', role='Engineer',
 emp_id='6', emp_fname='Arthur', emp_lname='Kone', role='Scientist',
 emp_id='7', emp_fname='Donna', emp_lname='Winter', role='Analyst',
 emp_id='8', emp_fname='Kelly', emp_lname='Connors', role='Developer']

In [18]:
session.query(EmployeesFromDytton).order_by(EmployeesFromDytton.join_date).all()

[emp_id='6', emp_fname='Arthur', emp_lname='Kone', role='Scientist',
 emp_id='8', emp_fname='Kelly', emp_lname='Connors', role='Developer',
 emp_id='5', emp_fname='Eric', emp_lname='Leon', role='Engineer',
 emp_id='7', emp_fname='Donna', emp_lname='Winter', role='Analyst']

In [19]:
session.query(EmployeesFromDytton).order_by(EmployeesFromDytton.join_date).all()[:3]

[emp_id='6', emp_fname='Arthur', emp_lname='Kone', role='Scientist',
 emp_id='8', emp_fname='Kelly', emp_lname='Connors', role='Developer',
 emp_id='5', emp_fname='Eric', emp_lname='Leon', role='Engineer']

In [20]:
for emp in session.query(EmployeesFromDytton).order_by(EmployeesFromDytton.join_date).all():
    print(emp.emp_fname, ' is a ', emp.role)

Arthur  is a  Scientist
Kelly  is a  Developer
Eric  is a  Engineer
Donna  is a  Analyst

In [21]:
session.query(EmployeesFromDytton).filter(EmployeesFromDytton.join_date > '2016-01-01').all()

[emp_id='5', emp_fname='Eric', emp_lname='Leon', role='Engineer',
 emp_id='7', emp_fname='Donna', emp_lname='Winter', role='Analyst']

In [23]:
session.query(EmployeesFromDytton)\
    .filter(or_(EmployeesFromDytton.join_date > '2016-01-01', EmployeesFromDytton.role.in_(['Engineer', 'Developer'])))\
    .all()

[emp_id='5', emp_fname='Eric', emp_lname='Leon', role='Engineer',
 emp_id='7', emp_fname='Donna', emp_lname='Winter', role='Analyst',
 emp_id='8', emp_fname='Kelly', emp_lname='Connors', role='Developer']