In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData, Date, Float
from sqlalchemy.sql import select
from sqlalchemy.sql import and_, or_, not_
from sqlalchemy.sql.functions import current_date
from sqlalchemy import between

In [2]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')
conn = engine.connect()
metadata = MetaData()
conn.execute(text("show tables;")).fetchall()

[('gold_users',), ('products',), ('users',)]

In [3]:
users = Table('users', metadata, autoload_with=engine)
gold_users = Table('gold_users', metadata, autoload_with=engine)

In [4]:
conn.execute(select(users, gold_users).where(users.c.user_id == gold_users.c.uid)).fetchall()

[(10, 'Claudia', 'Sand', 'Claudia.Sand@hotmail.com', 'Hanover', 10, datetime.date(2020, 11, 1), 342.0),
 (11, 'Raj', 'Chawanda', 'raj_chawanda@hotmail.com', 'Srpingfield', 11, datetime.date(2019, 10, 3), 241.2),
 (15, 'Neil', 'Parks', 'neil_parks@hotmail.com', 'Pleasanton', 15, datetime.date(2019, 12, 1), 93.0),
 (19, 'Gina', 'Ortiz', 'Gina_Ortiz54@hotmail.com', 'Hempstead', 19, datetime.date(2023, 1, 13), 13.8),
 (21, 'Noemie', 'Miller', 'noemei_miller@hotmail.com', 'Greenwich', 21, datetime.date(2021, 4, 29), 279.1),
 (33, 'Chen', 'Lin', 'Chen_Lin@hotmail.com', 'Moab', 33, datetime.date(2021, 10, 1), 201.3),
 (34, 'Charles', 'Lin', 'chlin@hotmail.com', 'Moab', 34, datetime.date(2020, 5, 28), 132.9)]

In [6]:
conn.execute(select(users.c.first_name, users.c.last_name, users.c.city, gold_users.c.points, gold_users.c.end_date)
             .where(users.c.user_id == gold_users.c.uid)).fetchall()

[('Claudia', 'Sand', 'Hanover', 342.0, datetime.date(2020, 11, 1)),
 ('Raj', 'Chawanda', 'Srpingfield', 241.2, datetime.date(2019, 10, 3)),
 ('Neil', 'Parks', 'Pleasanton', 93.0, datetime.date(2019, 12, 1)),
 ('Gina', 'Ortiz', 'Hempstead', 13.8, datetime.date(2023, 1, 13)),
 ('Noemie', 'Miller', 'Greenwich', 279.1, datetime.date(2021, 4, 29)),
 ('Chen', 'Lin', 'Moab', 201.3, datetime.date(2021, 10, 1)),
 ('Charles', 'Lin', 'Moab', 132.9, datetime.date(2020, 5, 28))]

In [8]:
conn.execute(select(users, gold_users).where(users.c.user_id == gold_users.c.uid)).fetchall()

[(10, 'Claudia', 'Sand', 'Claudia.Sand@hotmail.com', 'Hanover', 10, datetime.date(2020, 11, 1), 342.0),
 (11, 'Raj', 'Chawanda', 'raj_chawanda@hotmail.com', 'Srpingfield', 11, datetime.date(2019, 10, 3), 241.2),
 (15, 'Neil', 'Parks', 'neil_parks@hotmail.com', 'Pleasanton', 15, datetime.date(2019, 12, 1), 93.0),
 (19, 'Gina', 'Ortiz', 'Gina_Ortiz54@hotmail.com', 'Hempstead', 19, datetime.date(2023, 1, 13), 13.8),
 (21, 'Noemie', 'Miller', 'noemei_miller@hotmail.com', 'Greenwich', 21, datetime.date(2021, 4, 29), 279.1),
 (33, 'Chen', 'Lin', 'Chen_Lin@hotmail.com', 'Moab', 33, datetime.date(2021, 10, 1), 201.3),
 (34, 'Charles', 'Lin', 'chlin@hotmail.com', 'Moab', 34, datetime.date(2020, 5, 28), 132.9)]

In [13]:
conn.execute(select(users.c.user_id, users.c.first_name, users.c.last_name, gold_users.c.points, gold_users.c.end_date).\
    where(and_(users.c.user_id == gold_users.c.uid, gold_users.c.end_date >= current_date()))).fetchall()

[]

In [14]:
u = users.alias()
g = gold_users.alias()

In [15]:
conn.execute(select(u.c.user_id, u.c.first_name, u.c.last_name, g.c.points, g.c.end_date).\
    where(and_(u.c.user_id == g.c.uid, g.c.end_date >= current_date()))).fetchall()

[]

In [22]:
conn.execute(select(u.c.first_name, u.c.last_name, u.c.city, g.c.points, g.c.end_date)\
            .select_from(u.join(g, u.c.user_id == g.c.uid)).where(g.c.end_date >= current_date()))\
            .fetchall()

[]

In [24]:
conn.execute(
    select(u.c.first_name, u.c.last_name, u.c.city, g.c.points, g.c.end_date)\
    .select_from(u.outerjoin(g, u.c.user_id == g.c.uid)))\
    .fetchall()

[('Claudia', 'Sand', 'Hanover', 342.0, datetime.date(2020, 11, 1)),
 ('Raj', 'Chawanda', 'Srpingfield', 241.2, datetime.date(2019, 10, 3)),
 ('Neil', 'Parks', 'Pleasanton', 93.0, datetime.date(2019, 12, 1)),
 ('Gina', 'Ortiz', 'Hempstead', 13.8, datetime.date(2023, 1, 13)),
 ('Julio', 'Chavez', 'Savannah', None, None),
 ('Noemie', 'Miller', 'Greenwich', 279.1, datetime.date(2021, 4, 29)),
 ('Martha', 'Horowitz', 'Moab', None, None),
 ('Marcia', 'Lin', 'Srpingfield', None, None),
 ('Chen', 'Lin', 'Moab', 201.3, datetime.date(2021, 10, 1)),
 ('Charles', 'Lin', 'Moab', 132.9, datetime.date(2020, 5, 28))]