In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData, Date, Float
from sqlalchemy.sql import select
from sqlalchemy.sql import and_, or_, not_
from sqlalchemy.sql.functions import current_date
from sqlalchemy import between

In [2]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')
conn = engine.connect()
metadata = MetaData()
conn.execute(text("show tables;")).fetchall()

[('gold_users',), ('products',), ('users',)]

In [3]:
users = Table('users', metadata, autoload_with=engine)
gold_users = Table('gold_users', metadata, autoload_with=engine)

In [4]:
conn.execute(select(gold_users).where(gold_users.c.points > 150)).fetchall()

[(10, datetime.date(2020, 11, 1), 342.0),
 (11, datetime.date(2019, 10, 3), 241.2),
 (21, datetime.date(2021, 4, 29), 279.1),
 (33, datetime.date(2021, 10, 1), 201.3)]

In [5]:
conn.execute(select(gold_users).where(gold_users.c.points.between(93, 250))).fetchall()

[(11, datetime.date(2019, 10, 3), 241.2),
 (15, datetime.date(2019, 12, 1), 93.0),
 (33, datetime.date(2021, 10, 1), 201.3),
 (34, datetime.date(2020, 5, 28), 132.9)]

In [6]:
conn.execute(select(gold_users).where(gold_users.c.end_date < current_date())).fetchall()

[(10, datetime.date(2020, 11, 1), 342.0),
 (11, datetime.date(2019, 10, 3), 241.2),
 (15, datetime.date(2019, 12, 1), 93.0),
 (19, datetime.date(2023, 1, 13), 13.8),
 (21, datetime.date(2021, 4, 29), 279.1),
 (33, datetime.date(2021, 10, 1), 201.3),
 (34, datetime.date(2020, 5, 28), 132.9)]

In [14]:
conn.execute(select(gold_users).order_by(gold_users.c.points.desc()).limit(1)).fetchall()

[(10, datetime.date(2020, 11, 1), 342.0)]

In [15]:
conn.execute(select(gold_users).order_by(gold_users.c.points.desc()).offset(5)).fetchall()

[(15, datetime.date(2019, 12, 1), 93.0),
 (19, datetime.date(2023, 1, 13), 13.8)]

In [16]:
conn.execute(select(gold_users).order_by(gold_users.c.end_date,
                                        gold_users.c.points)).fetchall()

[(11, datetime.date(2019, 10, 3), 241.2),
 (15, datetime.date(2019, 12, 1), 93.0),
 (34, datetime.date(2020, 5, 28), 132.9),
 (10, datetime.date(2020, 11, 1), 342.0),
 (21, datetime.date(2021, 4, 29), 279.1),
 (33, datetime.date(2021, 10, 1), 201.3),
 (19, datetime.date(2023, 1, 13), 13.8)]

In [20]:
conn.execute(select(users).order_by(users.c.last_name, users.c.first_name)).fetchone()

(20, 'Julio', 'Chavez', 'chavez6595@hotmail.com', 'Savannah')

In [21]:
cursor = conn.execute(select(users))
one_row = cursor.fetchone()
while one_row is not None:
    print(one_row)
    one_row = cursor.fetchone()

(10, 'Claudia', 'Sand', 'Claudia.Sand@hotmail.com', 'Hanover')
(11, 'Raj', 'Chawanda', 'raj_chawanda@hotmail.com', 'Srpingfield')
(15, 'Neil', 'Parks', 'neil_parks@hotmail.com', 'Pleasanton')
(19, 'Gina', 'Ortiz', 'Gina_Ortiz54@hotmail.com', 'Hempstead')
(20, 'Julio', 'Chavez', 'chavez6595@hotmail.com', 'Savannah')
(21, 'Noemie', 'Miller', 'noemei_miller@hotmail.com', 'Greenwich')
(24, 'Martha', 'Horowitz', 'horowitzmartha@hotmail.com', 'Moab')
(31, 'Marcia', 'Lin', 'Marcia_Lin098@hotmail.com', 'Srpingfield')
(33, 'Chen', 'Lin', 'Chen_Lin@hotmail.com', 'Moab')
(34, 'Charles', 'Lin', 'chlin@hotmail.com', 'Moab')

In [30]:
cursor = conn.execute(select(users.c.first_name, users.c.last_name).where(users.c.last_name == 'Lin'))
one_row = cursor.fetchone()
while one_row is not None:
    print(one_row)
    one_row = cursor.fetchone()

('Marcia', 'Lin')
('Chen', 'Lin')
('Charles', 'Lin')

In [32]:
conn.execute(select(users)).fetchmany(20)

[(10, 'Claudia', 'Sand', 'Claudia.Sand@hotmail.com', 'Hanover'),
 (11, 'Raj', 'Chawanda', 'raj_chawanda@hotmail.com', 'Srpingfield'),
 (15, 'Neil', 'Parks', 'neil_parks@hotmail.com', 'Pleasanton'),
 (19, 'Gina', 'Ortiz', 'Gina_Ortiz54@hotmail.com', 'Hempstead'),
 (20, 'Julio', 'Chavez', 'chavez6595@hotmail.com', 'Savannah'),
 (21, 'Noemie', 'Miller', 'noemei_miller@hotmail.com', 'Greenwich'),
 (24, 'Martha', 'Horowitz', 'horowitzmartha@hotmail.com', 'Moab'),
 (31, 'Marcia', 'Lin', 'Marcia_Lin098@hotmail.com', 'Srpingfield'),
 (33, 'Chen', 'Lin', 'Chen_Lin@hotmail.com', 'Moab'),
 (34, 'Charles', 'Lin', 'chlin@hotmail.com', 'Moab')]