In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData, Date, Float
from sqlalchemy.sql import select
from sqlalchemy.sql import and_, or_, not_
from sqlalchemy import between

In [2]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')

conn = engine.connect()

metadata= MetaData()

In [4]:

users =  Table('users', metadata, autload_with=engine)

In [22]:
conn.execute(users.insert(), [
    {'user_id': 10, 'first_name': 'Claudia', 'last_name': 'Sand', 'email_id': 'Claudia.Sand@hotmail.com', 'city': 'Hanover', 'phone': '154829599'},
    {'user_id': 20, 'first_name': 'Julio', 'last_name': 'Chavez', 'email_id': 'chavez6595@hotmail.com', 'city': 'Savannah', 'phone': '668355938'},
    {'user_id': 15, 'first_name': 'Neil', 'last_name': 'Parks', 'email_id': 'neil_parks@hotmail.com', 'city': 'Pleasanton', 'phone': '658239057'},
    {'user_id': 19, 'first_name': 'Gina', 'last_name': 'Ortiz', 'email_id': 'Gina_Ortiz54@hotmail.com', 'city': 'Hempstead', 'phone': '435729770'},
    {'user_id': 11, 'first_name': 'Raj', 'last_name': 'Chawanda', 'email_id': 'raj_chawanda@hotmail.com', 'city': 'Srpingfield', 'phone': '125472190'},
    {'user_id': 31, 'first_name': 'Marcia', 'last_name': 'Lin', 'email_id': 'Marcia_Lin098@hotmail.com', 'city': 'Srpingfield', 'phone': '754328690'},
    {'user_id': 33, 'first_name': 'Chen', 'last_name': 'Lin', 'email_id': 'Chen_Lin@hotmail.com', 'city': 'Moab', 'phone': '5342978639'},
    {'user_id': 34, 'first_name': 'Charles', 'last_name': 'Lin', 'email_id': 'chlin@hotmail.com', 'city': 'Moab', 'phone': '890376289'},
    {'user_id': 21, 'first_name': 'Noemie', 'last_name': 'Miller', 'email_id': 'noemei_miller@hotmail.com', 'city': 'Greenwich', 'phone': '7649734980'},
    {'user_id': 24, 'first_name': 'Martha', 'last_name': 'Horowitz', 'email_id': 'horowitzmartha@hotmail.com', 'city': 'Moab', 'phone': '546239870'}
])

In [21]:
users

Table('users', MetaData(), schema=None)

In [9]:
conn.execute(select(users.c.first_name, users.c.last_name, users.c.city).where(and_(users.c.city == "Moab", users.c.last_name=="Lin"))).fetchall()

[('Chen', 'Lin', 'Moab'), ('Charles', 'Lin', 'Moab')]

In [11]:
metadata = MetaData()
gold_users = Table('gold_users', metadata,
                      Column('uid', Integer, primary_key=True, autoincrement=False),
                       Column('end_date', Date, nullable=False),
                       Column(('points'), Float)
                  )

In [12]:
metadata.create_all(engine)
conn = engine.connect()
conn.execute(text("show tables;")).fetchall()

[('gold_users',), ('products',), ('users',)]

In [14]:
conn.execute(text("describe gold_users;")).fetchall()

[('uid', 'int', 'NO', 'PRI', None, ''),
 ('end_date', 'date', 'NO', '', None, ''),
 ('points', 'float', 'YES', '', None, '')]

In [15]:
conn.execute(gold_users.insert(), [
    {'uid': 10, 'end_date': '2020-11-01', 'point': 342},
    {'uid': 11, 'end_date': '2019-10-03', 'point': 241.2},
    {'uid': 15, 'end_date': '2019-12-01', 'point': 93},
    {'uid': 19, 'end_date': '2023-01-13', 'point': 13.8},
    {'uid': 21, 'end_date': '2021-04-29', 'point': 279.1}
])

In [17]:
conn.execute(select(gold_users)).fetchall()

[(10, datetime.date(2020, 11, 1), None),
 (11, datetime.date(2019, 10, 3), None),
 (15, datetime.date(2019, 12, 1), None),
 (19, datetime.date(2023, 1, 13), None),
 (21, datetime.date(2021, 4, 29), None)]

In [20]:
conn.execute(select(users.c.first_name, users.c.last_name, users.c.user_id).where(users.c.user_id.in_(select(gold_users.c.uid)))).fetchall()

[('Claudia', 'Sand', 10),
 ('Raj', 'Chawanda', 11),
 ('Neil', 'Parks', 15),
 ('Gina', 'Ortiz', 19),
 ('Noemie', 'Miller', 21)]

In [21]:
conn.execute(select(users.c.first_name, users.c.last_name, users.c.user_id).where(users.c.user_id.notin_(select(gold_users.c.uid)))).fetchall()

[('Julio', 'Chavez', 20),
 ('Martha', 'Horowitz', 24),
 ('Marcia', 'Lin', 31),
 ('Chen', 'Lin', 33),
 ('Charles', 'Lin', 34)]

In [22]:
conn.execute(select(gold_users).where(gold_users.c.uid.notin_(select(users.c.user_id)))).fetchall()

[]

In [23]:
gold_users_ids = select(gold_users.c.uid)

In [31]:
conn.execute(gold_users.insert(), [
    {'uid': 33, 'end_date': '2021-10-01', 'point': 100}
])

In [32]:
conn.execute(select(gold_users)).fetchall()

[(10, datetime.date(2020, 11, 1), None),
 (11, datetime.date(2019, 10, 3), None),
 (15, datetime.date(2019, 12, 1), None),
 (19, datetime.date(2023, 1, 13), None),
 (21, datetime.date(2021, 4, 29), None),
 (33, datetime.date(2021, 10, 1), None)]

In [27]:
conn.execute(text("alter table gold_users \
                    add constraint fk_uid foreign key (uid) \
                    references users(user_id)"))

In [29]:
conn.execute(text("show create table gold_users;")).fetchall()

[('gold_users', 'CREATE TABLE `gold_users` (\n  `uid` int NOT NULL,\n  `end_date` date NOT NULL,\n  `points` float DEFAULT NULL,\n  PRIMARY KEY (`uid`),\n  CONSTRAINT `fk_uid` FOREIGN KEY (`uid`) REFERENCES `users` (`user_id`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci')]