In [ ]:
!pip uninstall sqlalchemy
!pip install sqlalchemy==1.4.54

In [7]:
!pip install PyMySql

Requirement already satisfied: PyMySql in c:\users\thuc.nguyen1\.venv\lib\site-packages (1.1.1)

In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData
from sqlalchemy.sql import select

sqlalchemy.__version__

'2.0.35'

In [9]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/first_database')
engine

Engine(mysql+pymysql://root:***@localhost:3306/first_database)

In [11]:
conn = engine.connect()
conn

In [12]:
conn.execute(text('show databases;')).fetchall()

[('first_database',),
 ('goaltrackerdb',),
 ('hrdb',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [13]:
conn.execute(text("show global variables like 'port';")).fetchall()

[('port', '3306')]

In [27]:
metadata = MetaData()
persons = Table('persons', metadata,
               Column('user_id', Integer),
               Column('first_name', String(255)),
               Column('last_name', String(255)),
               Column('email_id', String(255)),
               Column('city', String(255)),
               Column('phone', String(255)))

In [28]:
metadata.create_all(engine)

In [29]:
conn = engine.connect()

In [30]:
conn.execute(text("show tables;")).fetchall()

[('persons',)]

In [22]:
conn.execute(text('describe persons;')).fetchall()

[('user_id', 'int', 'YES', '', None, ''),
 ('first_name', 'varchar(255)', 'YES', '', None, ''),
 ('last_name', 'varchar(255)', 'YES', '', None, ''),
 ('email_id', 'varchar(255)', 'YES', '', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('phone', 'varchar(255)', 'YES', '', None, '')]

In [41]:
select_query = persons.select() 
conn.execute(select_query).fetchall()

[(10, 'Claudi', 'Sand', 'Claudi.Sand@hostmail.com', 'Hanover', '9029780689')]

In [40]:
ins = persons.insert().values((10, "Claudi", "Sand", "Claudi.Sand@hostmail.com", "Hanover", "9029780689"))
conn.execute(ins)

In [42]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')
engine

Engine(mysql+pymysql://root:***@localhost:3306/online_shopping?autocommit=true)

In [43]:
conn = engine.connect()

In [45]:
conn.execute(text('show tables;')).fetchall()

[]

In [46]:
metadata = MetaData()
persons = Table('users', metadata,
               Column('user_id', Integer),
               Column('first_name', String(255)),
               Column('last_name', String(255)),
               Column('email_id', String(255)),
               Column('city', String(255)),
               Column('phone', String(255)))
metadata.create_all(engine)

In [47]:
ins = persons.insert().values((10, "Claudi", "Sand", "Claudi.Sand@hostmail.com", "Hanover", "9029780689"))
conn.execute(ins)

In [50]:
select_query = persons.select() 
conn.execute(select_query).fetchall()

[(10, 'Claudi', 'Sand', 'Claudi.Sand@hostmail.com', 'Hanover', '9029780689'),
 (20, 'Julio', 'Chavez', 'test@gamil.com', 'Savanah', '9029402838')]

In [49]:
ins = persons.insert().values(first_name='Julio', last_name='Chavez', phone='9029402838', user_id=20, city='Savanah', email_id='test@gamil.com')
conn.execute(ins)

In [51]:
conn.execute(text('truncate table users;'))

In [52]:
conn.execute(select_query).fetchall()

[]