In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, MetaData
from sqlalchemy.sql import select
from sqlalchemy.schema import DDL

In [2]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')
conn = engine.connect()
metadata = MetaData()
conn.execute(text("show tables;")).fetchall()

[('big_orders',),
 ('diamond_users',),
 ('gold_users',),
 ('orders',),
 ('products',),
 ('users',)]

In [3]:
users = Table("users", metadata, autoload_with=engine)
gold_users = Table("gold_users", metadata, autoload_with=engine)

In [4]:
metadata = MetaData()
sqlalchemy.event.listen(
    metadata,
    "before_create",
    DDL("""CREATE PROCEDURE get_gold_user()
            BEGIN
                select uid from gold_users;
            END
    """)
)

In [5]:
metadata.create_all(engine)

In [4]:
raw_conn = engine.raw_connection()

In [5]:
cursor = raw_conn.cursor()

In [8]:
cursor.callproc("get_gold_user")

()

In [9]:
list(cursor.fetchall())

[(10,), (11,), (15,), (19,), (21,), (31,), (33,), (34,), (40,)]

In [10]:
conn.execute(text("drop procedure if exists get_gold_user"))

In [11]:
metadata = MetaData()
sqlalchemy.event.listen(
    metadata,
    "before_create",
    DDL("""CREATE PROCEDURE get_gold_user()
            BEGIN
            DECLARE userid int;
            SET userid = 10;
                select * from gold_users where uid = userid;
            END
    """)
)

In [12]:
metadata.create_all(engine)

In [14]:
cursor.callproc("get_gold_user")
list(cursor.fetchall())

[(10, datetime.date(2020, 11, 1), 342.0)]

In [15]:
conn.execute(text("drop procedure if exists get_gold_user"))

In [16]:
metadata = MetaData()
sqlalchemy.event.listen(
    metadata,
    "before_create",
    DDL("""CREATE PROCEDURE get_gold_user(IN userid int)
            BEGIN
                select * from gold_users where uid = userid;
            END
    """)
)
metadata.create_all(engine)

In [19]:
cursor.callproc("get_gold_user", [33])
list(cursor.fetchall())

[(33, datetime.date(2021, 10, 1), 201.3)]

In [14]:
metadata = MetaData()
sqlalchemy.event.listen(
    metadata,
    "before_create",
    DDL("""CREATE PROCEDURE create_new_user(IN arg_userid int,
                                            IN arg_first_name varchar(255),
                                            IN arg_last_name varchar(255),
                                            IN arg_email_id varchar(255),
                                            IN arg_city varchar(255),
                                            IN arg_phone varchar(255))
            BEGIN
                insert into users values(arg_userid, arg_first_name, arg_last_name, arg_email_id, arg_city);
            END
    """)
)
metadata.create_all(engine)

In [21]:
cursor.callproc("create_new_user", [102, "Max", "Bishop", "Max_Bishop@hotmail.com", "Bar Harbor", "+1 555 222 2501"])
raw_conn.commit()

[102,
 'Max',
 'Bishop',
 'Max_Bishop@hotmail.com',
 'Bar Harbor',
 '+1 555 222 2501']

In [22]:
conn.execute(select(users)).fetchall()

[(10, 'Claudia', 'Sand', 'Claudia.Sand@hotmail.com', 'Hanover'),
 (11, 'Raj', 'Chawanda', 'raj_chawanda@hotmail.com', 'Srpingfield'),
 (15, 'Neil', 'Parks', 'neil_parks@hotmail.com', 'Pleasanton'),
 (19, 'Gina', 'Ortiz', 'Gina_Ortiz54@hotmail.com', 'Hempstead'),
 (20, 'Julio', 'Chavez', 'chavez6595@hotmail.com', 'Savannah'),
 (21, 'Noemie', 'Miller', 'noemei_miller@hotmail.com', 'Greenwich'),
 (24, 'Martha', 'Horowitz', 'horowitzmartha@hotmail.com', 'Moab'),
 (31, 'Marcia', 'Lin', 'Marcia_Lin098@hotmail.com', 'Srpingfield'),
 (33, 'Chen', 'Lin', 'Chen_Lin@hotmail.com', 'Moab'),
 (34, 'Charles', 'Lin', 'chlin@hotmail.com', 'Moab'),
 (40, 'Alen', 'Alford', 'ALen_Alford63@hotmail.com', 'Madison'),
 (100, 'Rick', 'Tallon', 'Rick_Tallon65@hotmail.com', 'Trenton'),
 (102, 'Max', 'Bishop', 'Max_Bishop@hotmail.com', 'Bar Harbor'),
 (666, 'Niki', 'Flores', 'Nicke_Flores65@hotmail.com', 'Savannah'),
 (777, 'Rob', 'Lawrence', 'Rob_Laurence@hotmail.com', 'Charleeton')]

In [13]:
conn.execute(text("drop procedure create_new_user;"))