In [12]:
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData
from sqlalchemy.sql import select
from sqlalchemy import UniqueConstraint, PrimaryKeyConstraint

sqlalchemy.__version__

'2.0.35'

In [37]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/online_shopping?autocommit=true')
conn = engine.connect()

In [13]:
metadata = MetaData()
users = Table('users', metadata,
               Column('user_id', Integer, nullable=False),
               Column('first_name', String(255), nullable=False),
               Column('last_name', String(255)),
               Column('email_id', String(255)),
               Column('city', String(255)),
               Column('phone', String(255), nullable=False),
               UniqueConstraint('user_id')
             )
metadata.create_all(engine)

In [14]:
conn.execute(text('show tables;')).fetchall()

[('users',)]

In [16]:
conn = engine.connect()

In [18]:
conn.execute(text('describe users;')).fetchall()

[('user_id', 'int', 'NO', 'PRI', None, ''),
 ('first_name', 'varchar(255)', 'NO', '', None, ''),
 ('last_name', 'varchar(255)', 'YES', '', None, ''),
 ('email_id', 'varchar(255)', 'YES', '', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('phone', 'varchar(255)', 'NO', '', None, '')]

In [38]:
conn.execute(users.insert(), [
    {'user_id':10, 'first_name':'Claudia', 'last_name':'San', 'email_id':'claudi@gamil.com', 'city':'Charlottown', 'phone':'89969080'},
    {'user_id':20, 'first_name':'Julioi', 'last_name':'Chavez', 'email_id':'julio@gamil.com', 'city':'Toronto', 'phone':'798075967'},
    {'user_id':15, 'first_name':'Nail', 'last_name':'Parks', 'email_id':'nail@gamil.com', 'city':'Halifax', 'phone':'658364096'}
])

In [39]:
conn.execute(users.select()).fetchall()

[(10, 'Claudia', 'San', 'claudi@gamil.com', 'Charlottown', '89969080'),
 (15, 'Nail', 'Parks', 'nail@gamil.com', 'Halifax', '658364096'),
 (20, 'Julioi', 'Chavez', 'julio@gamil.com', 'Toronto', '798075967')]

In [28]:
ins = users.insert().values(user_id=11, first_name='Raj', last_name='Chavanda', email_id='raj@gamil.com', city='Halifax', phone='657587697')
conn.execute(ins)

In [32]:
conn.execute(text('drop table users;'))

In [34]:
metadata = MetaData()
users = Table('users', metadata,
               Column('user_id', Integer, nullable=False, autoincrement=True),
               Column('first_name', String(255), nullable=False),
               Column('last_name', String(255)),
               Column('email_id', String(255)),
               Column('city', String(255)),
               Column('phone', String(255), nullable=False),
               PrimaryKeyConstraint('user_id')
             )

In [36]:
metadata.create_all(engine)
conn.execute(text('describe users')).fetchall()

[('user_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('first_name', 'varchar(255)', 'NO', '', None, ''),
 ('last_name', 'varchar(255)', 'YES', '', None, ''),
 ('email_id', 'varchar(255)', 'YES', '', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('phone', 'varchar(255)', 'NO', '', None, '')]