In [7]:
import sqlalchemy
from sqlalchemy.sql import select
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, MetaData, Float

In [8]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/bank')
conn = engine.connect()
metadata = MetaData()
conn.execute(text("show tables;")).fetchall()

[]

In [9]:
metadata = MetaData()
savings_account = Table("savings_account", metadata,
                       Column("account_number", Integer, primary_key=True),
                        Column("customer_name", String(255)),
                        Column("balance", Float)
                       )

In [10]:
metadata.create_all(engine)

In [11]:
ins = savings_account.insert().values((1111, "Claudia", 1000))
conn.execute(ins)

In [4]:
savings_account = Table("savings_account", metadata, autoload_with=engine)

In [14]:
conn.execute(select(savings_account)).fetchall()

[(1111, 'Claudia', 1000.0)]

In [16]:
conn.commit()
trans = conn.begin()
conn.execute(savings_account.insert(), [
    {"account_number": 1112, "customer_name": "Catherine", "balance": 4000},
    {"account_number": 1113, "customer_name": "Chantal", "balance": 70000},
    {"account_number": 1114, "customer_name": "Chen", "balance": 6000}
])

In [19]:
conn.execute(select(savings_account)).fetchall()

[(1111, 'Claudia', 1000.0),
 (1112, 'Catherine', 4000.0),
 (1113, 'Chantal', 70000.0),
 (1114, 'Chen', 6000.0)]

In [21]:
trans.commit()

InvalidRequestError: This transaction is inactive

In [24]:
conn.commit()
with conn.begin() as trans:
    conn.execute(savings_account.insert(), [
    {"account_number": 1115, "customer_name": "Raj", "balance": 4500}
])

In [25]:
another_bank_engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/another_bank')
conn = another_bank_engine.connect()

In [27]:
with conn.begin() as trans:
    metadata = MetaData()
    checking_account = Table("checking_account", metadata,
                             Column("account_number", Integer),
                             Column("customer_name", String(255)),
                             Column("balance", Float)
                            )
    metadata.create_all(another_bank_engine)
    trans.rollback()

In [29]:
conn.execute(text("show tables;")).fetchall()

[('checking_account',)]

In [31]:
conn.commit()
with conn.begin() as trans:
    conn.execute(text("alter table checking_account add primary key (account_number)"))
    trans.rollback()

In [32]:
engine = create_engine('mysql+pymysql://root:Thuc1980@localhost:3306/bank')
conn = engine.connect()
metadata = MetaData()
conn.execute(text("show tables;")).fetchall()

[('savings_account',)]

In [33]:
conn.execute(select(savings_account)).fetchall()

[(1111, 'Claudia', 1000.0),
 (1112, 'Catherine', 4000.0),
 (1113, 'Chantal', 70000.0),
 (1114, 'Chen', 6000.0),
 (1115, 'Raj', 4500.0)]

In [35]:
metadata = MetaData()
checking_account = Table("checking_acccount", metadata,
                         Column("account_number", Integer),
                         Column("customer_name", String(255)),
                         Column("balance", Float),
                        )

In [36]:
metadata.create_all(engine)

In [43]:
def create_two_accounts(sav_acct_num, chk_acct_num, cust_name, chk_bal):
    with conn.begin() as tx:
        try:
            conn.execute(savings_account.insert(), [
                {"account_number": sav_acct_num, "customer_name": cust_name, "balance": chk_bal}
            ])
            conn.execute(checking_account.insert(), [
                {"account_number": chk_acct_num, "customer_name": cust_name, "balance": chk_bal}
            ])
        except Exception as e:
            print('An error was encountered when creating the accounts.','Rolling back...', e)
            tx.rollBack()

In [45]:
conn.commit()
create_two_accounts(1117, 1117, "Valadimir", 40000)